runtime
web/assets
web/index.php
web/index-test.php
config/main-local.php
config/params-local.php
/cscope.out
/cscope.files
/workspace.vim
.idea/
.phpintel/
.buildpath
.project
.settings/
.DS_Store
/*.cmd
*.tags
*.tags_sorted_by_file
/git-checkout.cmd
dump.rdb