<div class="order-about-cont">
    <div class="clearfix">
        <i class="icon-style"></i>
        <div class="about-text">
            <h1>很抱歉,您的支付不成功!</h1>
            <h2>请您确认:</h2>
            <ul>
                <li>您所填写的信用卡信息正确</li>
                <li>您此次消费未超过信用卡额度或储蓄卡当日消费限额</li>
                <li>中国信用卡已开通双币和网银业务</li>
            </ul>
            <p><strong>为避免您重复付款,请登录您的个人银行查询扣款记录</strong></p>
            <div class="btn"><a href="http://pay.lulutrip.com/center/cashier?clientId=LULUTRIP_WEB&template=LULUTRIP_WEB&merchantOrderCD=<?= $merchantOrderCD ?>&merchantNo=LULUTRIP">重新选择支付方式</a></div>
        </div>
    </div>
</div>