<footer class="footer" id="footer">
    <div class="foot-contact">
        <div class="wrap clearfix">
            <dl class="contact-tel">
                <dt>联系电话</dt>
                <dd>美国：<?= $serviceTelDefault['NA']?></dd>
                <dd>英国：<?= $serviceTelDefault['EU']?></dd>
                <dd>上海：<?= $serviceTelDefault['CN']?></dd>
            </dl>
            <dl class="contact-add">
                <dt>联系地址</dt>
                <dd>美国：2890 Zanker Rd., Suite 203，San Jose, CA 95134</dd>
                <dd>英国：Level 4, 78 Cannon Street,London, EC4N 6HL, United Kingdom</dd>
                <dd>上海：中国上海市杨浦区政学路88号创智天地5号楼1001-1003室</dd>
            </dl>
            <dl class="contact-mail">
                <dt>邮箱</dt>
                <dd>Email: <a href="mailto:info@lulutrip.com">info@lulutrip.com</a></dd>
            </dl>
        </div>
    </div>
    <div class="foot-copy">
        <div class="wrap clearfix">
            路路行旅游，为遇见世界！<br>Copyright © 2007-2017 | 路路行旅游 Lulutrip | All Rights Reserved.
        </div>
    </div>
</footer>