<div class="cost-detail-list">
  <div class="cost-detail-tit">费用明细</div>
  <div class="cost-detail-li">
    <ul>
      <li>
        <p><strong><span class="cont-fl">住房信息</span><span class="cont-fr">¥5473</span></strong></p>
        <p><span class="cont-fl">成人</span><span class="cont-fr">x3</span></p>
        <p><span class="cont-fl">房间</span><span class="cont-fr">(二人房) 1 x ¥2434</span></p>
      </li>
      <li>
        <p><strong><span class="cont-fl">景点活动（必选）</span><span class="cont-fr">¥573</span></strong></p>
        <p><span class="cont-fl">大提顿国家公园</span><span class="cont-fr">3x ¥234</span></p>
      </li>
      <li>
        <p><strong><span class="cont-fl">保险</span><span class="cont-fr">¥173</span></strong></p>
        <p><span class="cont-fl">出境旅游险</span><span class="cont-fr">3x ¥34</span></p>
      </li>
      <li>
        <p><strong><span class="cont-fl">保险</span><span class="cont-fr">¥173</span></strong></p>
        <p><span class="cont-fl">出境旅游险</span><span class="cont-fr">3x ¥34</span></p>
      </li>
    </ul>
  </div>
  <div class="cost-detail-discount">
    <div class="dis-tit">优惠活动</div>
    <div class="dis-from">
      <label><input type="checkbox"></label>
      <div class="dis-from-input">
        <input type="text"  placeholder="请输入优惠码">
        <a href="javascript:;">使用</a>
      </div>
      <div class="dis-from-price">-US$600</div>
    </div>
  </div>
  <div class="cost-detail-total">
    <div class="cost-total-s">总计：</div>
    <div class="cost-total-currency">
      <span>美元</span>
      <i class="arrow-down"></i>
      <ul>
        <li><a href="#">美元 US$</a></li>
        <li><a href="#">欧元 €</a></li>
        <li><a href="#">加币 C$</a></li>
        <li><a href="#">人民币 ¥</a></li>
        <li><a href="#">英镑 ￡</a></li>
        <li><a href="#">澳元 A$</a></li>
        <li><a href="#">纽币 NZ$</a></li>
      </ul>
    </div>
    <div class="cost-total-pr">US$ <span>5988</span></div>
  </div>
</div>
<div class="cost-detail-btn">
  <a class="J-btn-next" href="javascript:;">下一步</a>
</div>
