<div class="order-step-wrap">
  <div class="order-step">
    <ul class="clearfix">
      <li class="current">
        <div>
          <i class="step-number">1</i>
          <p class="step-content">行程安排</p>
        </div>
        <div class="step-line"></div>
      </li>
      <li>
        <div>
          <i class="step-number">2</i>
          <p class="step-content">资料填写</p>
        </div>
        <div class="step-line"></div>
      </li>
      <li>
        <div>
          <i class="step-number">3</i>
          <p class="step-content">订单支付</p>
        </div>
        <div class="step-line"></div>
      </li>
      <li>
        <div>
          <i class="step-number">4</i>
          <p class="step-content">支付成功</p>
        </div>
      </li>
    </ul>
  </div>
</div>
