<div class="order-adposition-cont">
    <div class="adposition-left">
        <a href="https://sdc.lulutrip.com/banner/sta_l/11"><img src="//llt.quimg.com/llt-static/images/order/payment-adl.jpg" width="590" height="257"></a>
    </div>
    <div class="adposition-right">
        <img src="//llt.quimg.com/llt-static/images/order/payment-adr.jpg" width="590" height="257">
        <div class="adposition-text">
            <h2>纽约</h2>
            <p>小路根据您的旅程为您推荐更多纽约产品</p>
            <div class="list">
                <a href="#">当地玩乐</a>/
                <a href="#">门票</a>/
                <a href="#"><i class="icon-new">New</i>酒店</a>/
                <a href="#">Wifi</a>/
                <a href="#">机场接送</a>
            </div>
        </div>
    </div>
</div>