<div class="order-about-cont">
    <i class="icon-style"></i>
    <div class="about-text">
        <h1>小路收到你的订单啦 !订单编号: <?= $merchantOrderCD ?></h1>
        <p>已发送您的订单信息至【<?= $emailAddress ?>】</p>
        <p>小路会在两个工作日内，将最终确认的“电子旅行凭证”发送到您的邮箱 </p>
        <p>进入<a class="order" href="https://www.lulutrip.com/my/orders" target="_blank">我的订单</a>即可查询订单状态</p>
        <p>点击参与<a href="http://www.wenjuan.in/s/EVVRB3" target="_blank">网站满意度调研</a>帮助路路行提升产品&服务质量</p>
    </div>
    <div class="order-app">
        <div class="order-app-icon">
            <i class="icon-app"></i>
            <p>下载路路行APP</p>
        </div>
        <div class="order-app-text">
            <p class="i_01">管理订单行程  发现当地精彩</p>
            <p>小路随时与你同在！</p>
            <i class="icon-img"></i>
        </div>
    </div>
</div>